body {
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */

#header-nav {
    background-color: grey;
    border-radius: 0%;
    border: 0;
    margin-bottom: 0;
    padding: 0;
}

#navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    text-align: left;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    border-style: none;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-header button.navbar-toggle {
    clear:both;
    margin-top: -30px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}
#nav-list {
    margin-top: 0px;
    background-color: burlywood;
    margin-bottom: 0;
}

#nav-list a {
    color: black;
    text-align: center;
}

#nav-list a:hover {
    background: #E7E7E7;
}
  
#nav-list a span {
    font-size: 1.2em;
}

#nav-list hr {
    border-color: black;
    margin: 0;    
}

#main-content {
    margin-left: 10px;
    margin-right: 10px;
}

#content-header h1 {
    padding-bottom: 10px;
}

#content-description {
    background-color: grey;
    padding-left: 10px;
    padding-right: 10px;
}

